:root {
  --primary-color: #0bb79e;
  --primary-color-lighten: #a3d339;

  --secondary-color: #ff6427;
  --secondary-color-lighten: #ff9912;
  --tertiary-color: #05a6dd;
  --tertiary-color-lighten: #5fd6f2;

  --success-color: #5cb85c;
  --warning-color: #fcd432;
  --error-color: #dc3545;

  --text-transform-btn: uppercase;
  --weight-btn: 600;
  --letter-spacing-btn: 1.5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font: 100% sans-serif;
  min-height: 100dvh;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
main {
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
}
